<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">

  </head>
  <body>


        {% for message in messages %}
        
        <div class="alert-{{ message.tags}} alert-dismissable fade show" role = "alert">

        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
        </div>
        
        {% endfor %}

        <h1>Welcome to My Website</h1> 
        
        {% if user.is_authenticated %}

        <h3>profile picture :{{ profilepic }}</h3>
        <h3>first name :{{ fname }}</h3>
        <h3>last name :{{ lname }}</h3>
        <h3>email :{{ email }}</h3>
        <h3>username :{{ username }}</h3>
        



        <h4>successfully loged in</h4>

        <button type = "submit"><a href="/signOutform"> SignOut </a></button>

        {% else %}


        <button type = "submit"> <a href="/signUpform"> SignUp </a></button>
        <button type = "submit"><a href="/signInform"> SignIn </a></button>
        {% endif %}




    
	<script src="" async defer></script>
  </body>
</html>