<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Website</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">

  </head>
  <body>

    {% for message in messages %}
        
    <div class="alert-{{ message.tags}} alert-dismissable fade show" role = "alert">

    <strong>Message:</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    
    {% endfor %}





    <h3>Sign Up</h3>

    <form action="/signUpform" method="post">
    {% csrf_token %}

        <label for="">First name</label>
        <input type="text" name="fname" id="fname" placeholder="first name" required>
        <br>
        <br>

        <label for="">Last name</label>
        <input type="text" name="lname" id="lname" placeholder="last name" required>
        <br>
        <br>

        <label for="">profile picture</label>
        <input name="image" type="file" enctype="multipart/form-data">
        <br>
        <br>

        <label for="">Username</label>
        <input type="text" name="username" id="username" placeholder="Create a username(only letters and numbers)" required>
        <br>
        <br>

        <label for="">email id</label>
        <input type="email" name="email" id="email" placeholder="abc123@gmail.com" required>
        <br>
        <br>

        <label for="">Password</label>
        <input type="password" name="pass1" id="pass1" placeholder="type password" required>
        <br>
        <br>

        <label for="">Confirm Password</label>
        <input type="password" name="pass2" id="pass2" placeholder="confirm password" required>
        <br>
        <br>

        <label for="">Address</label><br>
        <input type="text" name="line 1" id="line 1" placeholder="line 1" required>
        <br>
        
        <input type="text" name="city" id="city" placeholder="type city" required>
        <br>
        
        <input type="text" name="state" id="state" placeholder="type state" required>
        <br>
        
        <input type="text" name="pincode" id="pincode" placeholder="type pincode" required>
        
        <br><br>

        <button type="submit">Sign Up</button>


    </form>





	<script src="" async defer></script>
  </body>
</html>